:root {
  --body_background: #f8f8f8;
  --content_color: #ffffff;
  --link_color: #555555;
}

[data-theme="dark"] {
  --body_background: #282c34;
  --link_color: #ffffff;
  --content-color: #3a3c3f;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
